/* body{
    color: red;
}
h1{
    color : green;
}
#lib-header{
    color:blue;
}
 .para  /* for class  */
/* {
color: gray;
} */ 
/* #D97706 */
/* #E5E7EB */
/* typography */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
:root{
    --primary-color:#2a6592;
    --dark-gray:#7e9a9a;
    --off-white:#EDE9FE;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

hr{
    margin: 3rem 0rem;
}

/* container */
.container{
    padding-left: 2rem;
    padding-right: 2rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;

}
/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
background-color: var(--primary-color);
color: white;
padding: 1rem;
border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight:bold;
    font-size: 2rem;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color:white;
}

.navigation .link-active{
    font-weight: bold;
}
/* ABOUT */

 .avatar-user {
    border-radius: 100%!important; 
    /* padding: 20rem 18rem; */
}
.avatar {
     /* bottom: 0;
    height: 100%;
    left: 0;
    margin: auto; 
    max-width: 200px;
    /* padding: 28rem 26rem;  */
    /* position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding-top: 14rem;  */ 
    max-width: 300px;
    display: block;
    margin: auto;
    /* padding-left: 10rem; */
   

}

/* .avatar .avatar-user .color-bg-primary {
    background-color:var(--primary-color)!important;
    margin: auto;
    padding: 1rem;  
} */

.MuiTypography-h1 {
    font-size: 4rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.167;
    letter-spacing: -0.01562em;
    
}

.MuiTypography-root {
    margin: auto;
    ;
}

.MuiTypography-h4 .jss15 {
    font-size: 1.5rem;
    /* padding-left: 26rem;
    padding-top: 27rem; */
}

/* .jss14 {
    font-size: 4rem;
    margin-top: 30px;
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    margin-bottom: 10px;
    padding-left: 18rem;
} */


.jss13 { 
     color: var(--primary-color); 
}

.MuiTypography-h4 {
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    /* padding-left: 22rem; */
    padding: 2rem;
    text-align: center;
}



.heading{
    color: var(--dark-gray);
}



/* header */

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 400px;
    display: block;
    margin: auto;

}

.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/* section */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow{
    background-color: var(--off-white);
}

/* footer */

.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem   ;
}

.footer .footer-header{
   font-weight: bold;
   font-size: large; 
}

.footer .link{
    color:white
}

.footer ul{
    padding-inline-start:0px;
}

.font{
 font-family: 'Krona One', sans-serif;
}